 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Blahblah sur le sujet la vie tout ca</p>
                </div>
                <div class="col-lg-4">
                    <p>On peut y mettre deux trois points cles et un lien vers l-aide</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-support"></i> Besoin d'aide?
                    </a>
                </div>
            </div>
        </div>
    </section>