<li class="media">
    <div class="media-body">
        <div class="well well-lg">
            <h4 class="media-heading text-uppercase reviews">{{ name }} </h4>
            <ul class="media-date text-uppercase reviews list-inline">
                {{ date | date: "%d %h %Y @ %Hh%M"}}
            </ul>
            <p class="media-comment">
                {{ message }}
            </p>
            {% if rating %}
                <a class="btn btn-warning btn-circle text-uppercase">{{ rating }} <span class="fa fa-star"></span></a>
            {% endif %}
        </div>
    </div>
</li>