
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Les projets</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    {% assign comments = site.data.comments[post.slug] %}
                    <div class="col-sm-4 portfolio-item">
                        {% assign link = site.baseurl | append: post.url | append: "#comments"%}
                        {% include comments-score.html comments=comments link=link %}
                        <a href="{{site.baseurl}}{{ post.url }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{site.baseurl}}/img/projects/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>