<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
{% include nav.html %}
<div class="container project-body">
    <h2 class="text-center">{{ page.title }}</h2>
    <hr class="star-primary">
    {% if page.img %}
        <img src="/img/projects/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
    {% endif %}
    <p>{{ page.description }}</p>
    {% if page.youtube %}
        <iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube }}?ecver=1" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    <div>{{ content }}</div>
    <ul class="list-inline item-details">
        <li>Equipe:
            <strong><a href="http://startbootstrap.com">{{ page.equipe }}</a>
            </strong>
        </li>
        <li>Projet:
            <strong><a href="http://startbootstrap.com">{{ page.description }}</a>
            </strong>
        </li>
    </ul>
</div>
{% include footer.html %}
{% include js.html %}
</body>
</html>