---
layout: default
---

<div class="container page-body">
    <h2 class="text-center">{{ page.title }}</h2>
    <hr class="star-primary">
    <div class="markdown-body">{{ content }}</div>
    <ul class="list-inline item-details">
        <li>Equipe:
            <strong>{{ page.team }}</strong>
        </li>
        <li>Projet:
            <strong>{{ page.title }}</strong>
        </li>
    </ul>
</div>

<hr class="star-primary">

{% assign comments = site.data.comments[page.slug] %}
{% include comments.html comments=comments %}
</body>
</html>